$quarter: .25rem;
$half: .5rem;
$one: 1rem;
$two: 2rem;
$three: 3rem;
$four: 4rem;
$five: 5rem;
// Margin Top
.margin-quarter-top {
  margin-top: $quarter;
}
.margin-half-top {
  margin-top: $half;
}
.margin-one-top {
  margin-top: $one;
}
.margin-two-top {
  margin-top: $two;
}
.margin-three-top {
  margin-top: $three;
}
.margin-four-top {
  margin-top: $four;
}
.margin-five-top {
  margin-top: $five;
}
// Margin Bottom
.margin-quarter-bottom {
  margin-bottom: $quarter;
}

.margin-half-bottom {
  margin-bottom: $half;
}

.margin-one-bottom {
  margin-bottom: $one;
}

.margin-two-bottom {
  margin-bottom: $two;
}

.margin-three-bottom {
  margin-bottom: $three;
}

.margin-four-bottom {
  margin-bottom: $four;
}

.margin-five-bottom {
  margin-bottom: $five;
}
// Margin Left
.margin-quarter-left {
  margin-left: $quarter;
}

.margin-half-left {
  margin-left: $half;
}

.margin-one-left {
  margin-left: $one;
}

.margin-two-left {
  margin-left: $two;
}

.margin-three-left {
  margin-left: $three;
}

.margin-four-left {
  margin-left: $four;
}

.margin-five-left {
  margin-left: $five;
}
// Margin Right
.margin-quarter-right {
  margin-right: $quarter;
}

.margin-half-right {
  margin-right: $half;
}

.margin-one-right {
  margin-right: $one;
}

.margin-two-right {
  margin-right: $two;
}

.margin-three-right {
  margin-right: $three;
}

.margin-four-right {
  margin-right: $four;
}

.margin-five-right {
  margin-right: $five;
}

.padding-quarter-all {
  padding: $quarter;
}
.padding-half-all {
  padding: $half;
}

.padding-one-all {
  padding: $one;
}

.padding-quarter-bottom {
    padding-bottom: $quarter;
  }
  .padding-half-bottom {
    padding-bottom: $half;
  }

  .padding-one-bottom {
    padding-bottom: $one;
  }

  .padding-quarter-top {
    padding-top: $quarter;
  }
  .padding-half-top {
    padding-top: $half;
  }

  .padding-one-top {
    padding-top: $one;
  }

  .padding-quarter-left {
    padding-left: $quarter;
  }
  .padding-half-left {
    padding-left: $half;
  }

  .padding-one-left {
    padding-left: $one;
  }

  .padding-quarter-right {
    padding-right: $quarter;
  }
  .padding-half-right {
    padding-right: $half;
  }

  .padding-one-right {
    padding-right: $one;
  }

  .padding-two-top {
    padding-top: $two;
  }

  .padding-two-bottom {
    padding-bottom: $two;
  }
