// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
// @import 'variables';
// Bootswatch
@import "~bootswatch/dist/materia/variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Bootswatch
@import "~bootswatch/dist/materia/bootswatch";

// custom code
@import "spacing";

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 18px !important;
}

.app {
    flex: 1;
}

// Map tiles size and responsivness
.maptile {
    width: 100%;
    height: 480px;
}

// Custom hr
hr {
    border-top: 1px solid #bbb;
}

//-------------------

// Quill editor container
#editor {
    height: 500px;
    max-height: 500px;
}

// iframe no border
iframe {
    border: none !important;
}

// normal font size
.normal-text {
    font-size: 1rem;
}

// Quill editor default font size
.ql-container {
    font-size: 1rem !important;
}

// Limit the autocomplete dropdown
.bootstrap-autocomplete.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

// tag filter cursor
.tag-filter-badge {
    cursor: pointer;
}

// form borders
.light-border-primary {
    border: 1px solid rgba(33, 150, 243, .1);
    padding: 6px;
    border-radius: 2px;
}

// extra custom font sizes
.x175 {
    font-size: .75rem;
}

.x1 {
    font-size: 1rem;
}

.x1quarter {
    font-size: 1.25rem;
}

.x1half {
    font-size: 1.5rem;
}

.x2 {
    font-size: 2rem;
}

// to top
#toTopBtn {
    :hover {
        cursor: pointer;
    }
}
// 600px and smaller screens
@media only screen and (max-width: 600px) {
    #toTopBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 1px;
        max-width: 28px;
        width: 100%;
        font-size: 27px;
    }
}
// 768px and wider  screens
@media only screen and (min-width: 768px) {
    #toTopBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 10px;
        max-width: 40px;
        width: 100%;
        font-size: 35px;
    }
}
